repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.71.0
    hooks:
      - id: renovate-config-validator
  - repo: local
    hooks:
      - id: php-cs-fixer
        name: PHP CS Fixer
        entry: vendor/bin/php-cs-fixer fix
        language: system
        types: [php]
        pass_filenames: false
      - id: phpstan
        name: PHPStan
        entry: vendor/bin/phpstan analyse
        language: system
        types: [php]
        pass_filenames: false
      - id: phpunit
        name: PHPUnit
        entry: vendor/bin/phpunit --testdox --display-all-issues
        language: system
        types: [php]
        pass_filenames: false
