name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  mutation-testing:
    uses: ./.github/workflows/mutation-testing.yml
