name: Nightly

on:
  schedule:
    # Run every Monday at 12 AM UTC
    - cron: '0 0 * * 1'
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: read

jobs:
  test:
    uses: ./.github/workflows/test.yml
