name: Validate Renovate config

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@fda7db3799c8b28652153419da38c22fe8283667 # v2.0.0
        with:
          strict: false
