name: Validate Renovate config

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: deviantintegral/github-action-renovate-config-validator@bceccd3745659ba70d7730aec94d32749e622a08 # fix-renovate-version
        with:
          strict: false
